<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_logview">

  <div class="pnl_toolsarea">
    <fieldset class="inlineLabels"><legend><tmpl_var name="monTransRefreshsq"></legend>
      <div class="buttons">
	      <div class="ctrlHolder">
	      	<label for="refreshinterval">{tmpl_var name='refreshinterval_txt'}</label>
	        <select name="refreshinterval" id="refreshinterval" class="selectInput withicons" onChange="loadContentRefresh('monitor/show_log.php?log={tmpl_var name="log_id"}')">
						{tmpl_var name='refresh'}
					</select>
	      </div>
      </div>
    </fieldset>
  </div>
  
  <div class="pnl_formarea">
    <fieldset><legend><tmpl_var name="monTransDate"><tmpl_var name="time"></legend>
      <div class="codeview"><tmpl_var name="log_data"></div>
    </fieldset>
  </div>

</div>
