@media all
{
	#topNav a {
		background-color: #D3D3D3;
		background-position: center top;
		background-repeat: no-repeat;
		color:black;
		display:inline-block;
		height:20px;
		padding-top:5px;
		text-align:center;
		text-decoration:none;
		width:97px;
	}

	.topnav-admin {
		background-image: none !important;
	}

	.topnav-client {
		background-image: none !important;
	}

	.topnav-mail {
		background-image: none !important;
	}

	.topnav-monitor {
		background-image: none !important;
	}

	.topnav-sites {
		background-image: none !important;
	}

	.topnav-dns {
		background-image: none !important;
	}

	.topnav-tools {
		background-image: none !important;
	}

	.topnav-help {
		background-image: none !important;
	}

	.topnav- {
		background-image: none !important;
	}

	.topnav-domain {
		background-image: none !important;
	}
	
	.topnav-dashboard {
		background-image: none !important;
	}
	
}