<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_mail_user">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
	  <div class="ctrlHolder">
      	<label for="name">{tmpl_var name='name_txt'}</label>
        <input name="name" id="name" value="{tmpl_var name='name'}" size="30" maxlength="255" type="text" class="textInput" /> &nbsp; {tmpl_var name='name_optional_txt'}
			</div>
      <div class="ctrlHolder">
        <p class="label"><em>*</em> {tmpl_var name='email_txt'}</p>
        <div class="multiField">
          <label for="email_local_part" class="blockLabel formLengthEmailDomain">Alias<input type="text" id="email_local_part" name="email_local_part" size="20" value="{tmpl_var name='email_local_part'}" class="textInput" /></label>
          <label for="email_at" class="blockLabel email_at">&nbsp;<span id="email_at" name="email_at" />@</label>
          <label for="email_domain" class="blockLabel formLengthEmailDomain">{tmpl_var name='domain_txt'}<select name="email_domain" id="email_domain" class="selectInput">{tmpl_var name='email_domain'}</select></label>
        </div>
      </div>
      <div class="ctrlHolder">
      	<label for="password">{tmpl_var name='password_txt'}</label>
        <input name="password" id="password" value="{tmpl_var name='password'}" size="30" maxlength="255" type="password" class="textInput" onkeyup="pass_check(this.value)" />
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='password_strength_txt'}</p>
				<div id="passBar"></div>
				<p class="formHint"><span id="passText">&nbsp;</span></p>
			</div>
			<div class="ctrlHolder">
      	<label for="quota">{tmpl_var name='quota_txt'}</label>
        <input name="quota" id="quota" value="{tmpl_var name='quota'}" size="30" maxlength="255" type="text" class="textInput formLengthLimit" /><p class="formInputUnity">&nbsp;MB</p>
			</div>
	  <div class="ctrlHolder">
      	<label for="name">{tmpl_var name='cc_txt'}</label>
        <input name="cc" id="cc" value="{tmpl_var name='cc'}" size="30" maxlength="255" type="text" class="textInput" /> &nbsp; {tmpl_var name='name_optional_txt'}
	  </div>
			<div class="ctrlHolder">
      	<label for="policy">{tmpl_var name='policy_txt'}</label>
        <select name="policy" id="policy" class="selectInput">
					{tmpl_var name='policy'}
				</select>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='postfix_txt'}</p>
					<div class="multiField">
						{tmpl_var name='postfix'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='disableimap_txt'}</p>
					<div class="multiField">
						{tmpl_var name='disableimap'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='disablepop3_txt'}</p>
					<div class="multiField">
						{tmpl_var name='disablepop3'}
					</div>
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_user_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_user_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
