<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_list_spamfilter_policy">

  <div class="pnl_toolsarea">
    <fieldset><legend>{tmpl_var name="toolsarea_head_txt"}</legend>
      <div class="buttons">
        <button class="iconstxt icoAdd" type="button" onClick="loadContent('mail/spamfilter_policy_edit.php');">
          <span>{tmpl_var name="add_new_record_txt"}</span>
        </button>
      </div>
    </fieldset>
  </div>

  <div class="pnl_listarea">
    <fieldset><legend><tmpl_var name="list_head_txt"></legend>
      <table class="list">
        <thead>
          <tr>
            <th class="tbl_col_policy_name" scope="col"><tmpl_var name="policy_name_txt"></th>
            <th class="tbl_col_virus_lover" scope="col"><tmpl_var name="virus_lover_txt"></th>
            <th class="tbl_col_spam_lover" scope="col"><tmpl_var name="spam_lover_txt"></th>
            <th class="tbl_col_banned_files_lover" scope="col"><tmpl_var name="banned_files_lover_txt"></th>
            <th class="tbl_col_bad_header_lover" scope="col"><tmpl_var name="bad_header_lover_txt"></th>
            <th class="tbl_col_buttons" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <td class="tbl_col_policy_name"><input type="text" name="search_policy_name" value="{tmpl_var name='search_policy_name'}" /></td>
            <td class="tbl_col_virus_lover"><select name="search_virus_lover" onChange="submitForm('pageForm','mail/spamfilter_policy_list.php');">{tmpl_var name='search_virus_lover'}</select></td>
            <td class="tbl_col_spam_lover"><select name="search_spam_lover" onChange="submitForm('pageForm','mail/spamfilter_policy_list.php');">{tmpl_var name='search_spam_lover'}</select></td>
            <td class="tbl_col_banned_files_lover"><select name="search_banned_files_lover" onChange="submitForm('pageForm','mail/spamfilter_policy_list.php');">{tmpl_var name='search_banned_files_lover'}</select></td>
            <td class="tbl_col_bad_header_lover"><select name="search_bad_header_lover" onChange="submitForm('pageForm','mail/spamfilter_policy_list.php');">{tmpl_var name='search_bad_header_lover'}</select></td>
            <td class="tbl_col_buttons"><div class="buttons"><button type="button" class="icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="submitForm('pageForm','mail/spamfilter_policy_list.php');"><span>{tmpl_var name="filter_txt"}</span></button></div></td>
          </tr>
        </thead>
        <tbody>
          <tmpl_loop name="records">
          <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
            <td class="tbl_col_policy_name"><a href="#" onClick="loadContent('mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="policy_name"}</a></td>
            <td class="tbl_col_virus_lover"><a href="#" onClick="loadContent('mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="virus_lover"}</a></td>
            <td class="tbl_col_spam_lover"><a href="#" onClick="loadContent('mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="spam_lover"}</a></td>
            <td class="tbl_col_banned_files_lover"><a href="#" onClick="loadContent('mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="banned_files_lover"}</a></td>
            <td class="tbl_col_bad_header_lover"><a href="#" onClick="loadContent('mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="bad_header_lover"}</a></td>
            <td class="tbl_col_buttons">
              <div class="buttons icons16">    
                <a class="icons16 icoDelete" href="javascript: del_record('mail/spamfilter_policy_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
              </div>
            </td>
          </tr>
          </tmpl_loop>
        </tbody>

        <tfoot>
          <tr>
            <td class="tbl_footer tbl_paging" colspan="6"><tmpl_var name="paging"></td>
          </tr>
        </tfoot>
      </table>
    </fieldset>
  </div>

</div>
