<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_server_config">
  
  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="module">{tmpl_var name='module_txt'}</label>
        <select name="module" id="module" class="selectInput formLengthHalf">
					{tmpl_var name='module'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="maildir_path">{tmpl_var name='maildir_path_txt'}</label>
        <input name="maildir_path" id="maildir_path" value="{tmpl_var name='maildir_path'}" size="40" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="homedir_path">{tmpl_var name='homedir_path_txt'}</label>
        <input name="homedir_path" id="homedir_path" value="{tmpl_var name='homedir_path'}" size="40" maxlength="255" type="text" class="textInput" />
			</div>
	  <div class="ctrlHolder">
				<p class="label">{tmpl_var name='pop3_imap_daemon_txt'}</p>
					<div class="multiField">
						<select name="pop3_imap_daemon" id="pop3_imap_daemon" class="selectInput">
					{tmpl_var name='pop3_imap_daemon'}
				</select>
					</div>
			</div>
	  <div class="ctrlHolder">
				<p class="label">{tmpl_var name='mail_filter_syntax_txt'}</p>
					<div class="multiField">
						<select name="mail_filter_syntax" id="mail_filter_syntax" class="selectInput">
					{tmpl_var name='mail_filter_syntax'}
				</select>
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="mailuser_uid">{tmpl_var name='mailuser_uid_txt'}</label>
        <input name="mailuser_uid" id="mailuser_uid" value="{tmpl_var name='mailuser_uid'}" size="10" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="mailuser_gid">{tmpl_var name='mailuser_gid_txt'}</label>
        <input name="mailuser_gid" id="mailuser_gid" value="{tmpl_var name='mailuser_gid'}" size="10" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="mailuser_name">{tmpl_var name='mailuser_name_txt'}</label>
        <input name="mailuser_name" id="mailuser_name" value="{tmpl_var name='mailuser_name'}" size="10" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="mailuser_group">{tmpl_var name='mailuser_group_txt'}</label>
        <input name="mailuser_group" id="mailuser_group" value="{tmpl_var name='mailuser_group'}" size="10" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="relayhost">{tmpl_var name='relayhost_txt'}</label>
        <input name="relayhost" id="relayhost" value="{tmpl_var name='relayhost'}" size="40" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="relayhost_user">{tmpl_var name='relayhost_user_txt'}</label>
        <input name="relayhost_user" id="relayhost_user" value="{tmpl_var name='relayhost_user'}" size="40" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="relayhost_password">{tmpl_var name='relayhost_password_txt'}</label>
        <input name="relayhost_password" id="relayhost_password" value="{tmpl_var name='relayhost_password'}" size="40" maxlength="255" type="password" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="mailbox_size_limit">{tmpl_var name='mailbox_size_limit_txt'}</label>
        <input name="mailbox_size_limit" id="mailbox_size_limit" value="{tmpl_var name='mailbox_size_limit'}" size="10" maxlength="15" type="text" class="textInput formLengthLimit" />&nbsp;MB
			</div>
      <div class="ctrlHolder">
      	<label for="message_size_limit">{tmpl_var name='message_size_limit_txt'}</label>
        <input name="message_size_limit" id="message_size_limit" value="{tmpl_var name='message_size_limit'}" size="10" maxlength="15" type="text" class="textInput formLengthLimit" />&mbsp;MB
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/server_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_config_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
