<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_web_domain">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">

      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='cgi_txt'}</p>
					<div class="multiField">
						{tmpl_var name='cgi'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='ssi_txt'}</p>
					<div class="multiField">
						{tmpl_var name='ssi'}
					</div>
	  </div>
	  <div class="ctrlHolder">
				<p class="label">{tmpl_var name='ruby_txt'}</p>
					<div class="multiField">
						{tmpl_var name='ruby'}
					</div>
	  </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='suexec_txt'}</p>
					<div class="multiField">
						{tmpl_var name='suexec'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='is_subdomainwww_txt'}</p>
					<div class="multiField">
						{tmpl_var name='is_subdomainwww'}
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="subdomain">{tmpl_var name='subdomain_txt'}</label>
        <select name="subdomain" id="subdomain" class="selectInput formLengthHalf">
					{tmpl_var name='subdomain'}
				</select>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='ssl_txt'}</p>
					<div class="multiField">
						{tmpl_var name='ssl'}
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="php">{tmpl_var name='php_txt'}</label>
        <select name="php" id="php" class="selectInput formLengthHalf">
					{tmpl_var name='php'}
				</select>
      </div>
      
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/web_domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/web_domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
