<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_web_domain">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <tmpl_if name="is_admin">

	<div class="ctrlHolder">
		Webserver : <br />
		{tmpl_var name='webserver'}		
<!--<input type="radio" name="webserver" value="nginx" /> Nginx<br />
		<input type="radio" name="webserver" value="apache" /> Apache2<br />-->
      </div>

      <div class="ctrlHolder">
		<tmpl_if name="edit_disabled">
		<label for="server_id_disabled">{tmpl_var name='server_id_txt'}</label>
		<select name="server_id_disabled" id="server_id_disabled" class="selectInput" disabled="disabled">
		  {tmpl_var name='server_id'}
		</select>
		<input type="hidden" name="server_id" value="{tmpl_var name='server_id_value'}" />
		<tmpl_else>
		<label for="server_id">{tmpl_var name='server_id_txt'}</label>
        <select name="server_id" id="server_id" class="selectInput" onChange="loadOptionInto('ip_address','sites/ajax_get_ip.php?server_id='+document.getElementById('server_id').value)">
		  {tmpl_var name='server_id'}
		</select>
		</tmpl_if>
      </div>
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_group_id_txt'}</label>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
      </div>
      </tmpl_if>
      <tmpl_if name="is_reseller">
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_group_id_txt'}</label>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
      </div>
      </tmpl_if>
      <div class="ctrlHolder">
      	<label for="ip_address">{tmpl_var name='ip_address_txt'}</label>
        <select name="ip_address" id="ip_address" class="selectInput formLengthIPv4">
					{tmpl_var name='ip_address'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="domain">{tmpl_var name='domain_txt'}</label>
        <tmpl_if name="domain_option">
			<select name="domain" id="domain" class="selectInput">
					{tmpl_var name='domain_option'}
			</select>
		<tmpl_else>
	        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" />
        </tmpl_if>
		</div>
      <div class="ctrlHolder">
      	<label for="hd_quota">{tmpl_var name='hd_quota_txt'}</label>
        <input name="hd_quota" id="hd_quota" value="{tmpl_var name='hd_quota'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" />&nbsp;MB
			</div>
      <div class="ctrlHolder">
      	<label for="traffic_quota">{tmpl_var name='traffic_quota_txt'}</label>
        <input name="traffic_quota" id="traffic_quota" value="{tmpl_var name='traffic_quota'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" />&nbsp;MB <tmpl_var name='traffic_quota_exceeded_txt'>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='errordocs_txt'}</p>
					<div class="multiField">
						{tmpl_var name='errordocs'}
					</div>
			</div>
        <select name="php" id="php" class="selectInput formLengthHalf">
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='active_txt'}</p>
					<div class="multiField">
						{tmpl_var name='active'}
					</div>
			</div>
<!-- For now, let's state a default value for thoses two fields, which will be edited in the "Domain Advanced" tab -->
        <input name="subdomain" id="subdomain" type="hidden" value="none" />
        <input name="php" id="php" type="hidden" value="no" />

    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/web_domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/web_domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
