<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_web_webserver">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
	<!-- Note : The next tab is necessarily the "domain" one, because it is, initially (without the webserver choice) the default one, which is mandatory to go to next tab -->
	<input type="hidden" name="next_tab" value="domain" />
	<input type="radio" name="webserver_choice" onClick="$('#pageContent input').attr('value', 'domain'); submitForm('pageForm','sites/web_domain_edit.php');" value="nginx" /> Nginx<br />
	<input type="radio" name="webserver_choice" onClick="$('#pageContent input').attr('value', 'domain'); submitForm('pageForm','sites/web_domain_edit.php');" value="apache" /> Apache2<br />
      </div>

    </fieldset>
 
	
    <input type="hidden" name="id" value="{tmpl_var name='id'}">
  </div>

</div>
